.box img{
	width:200px;
	height:200px;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	border:2px solid red;
	
	
	animation-name:star;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
@keyframes star{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}